CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out/
.vs/
.vscode/
shakespeare_all_texts_lowercase.txt
src/pmt
bin/
test.txt
test_data/
build/